---
import { getCollection } from "astro:content";
import BaaSProviderCard from "~/components/BaaSProviderCard.astro";
import MainLayout from "~/layouts/Layout.astro";

const baasProviders = (await getCollection("baasProvider")).sort((a, b) =>
  a.data.name.localeCompare(b.data.name),
);

const pageTitle = "BaaS Providers | List of Backend as a Service Providers";
---

<MainLayout title={pageTitle}>
  <div class="container mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <header class="mb-12 text-center">
      <h1 class="mb-4 text-4xl font-extrabold text-gray-900 sm:text-5xl">
        Backend as a Service Providers
      </h1>
      <p class="mx-auto max-w-2xl text-xl text-gray-600">
        Discover BaaS solutions that empower developers to focus on building
        great applications without worrying about backend infrastructure.
      </p>
    </header>

    <p class="mb-8 text-lg font-medium text-gray-700">
      {baasProviders.length} providers available
    </p>

    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {
        baasProviders.map((baasProvider) => (
          <li class="transform transition duration-300 hover:scale-105">
            <BaaSProviderCard baasProvider={baasProvider} />
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
