---
import { getCollection } from "astro:content";
import BaaSProviderCard from "~/components/BaaSProviderCard.astro";
import MainLayout from "~/layouts/Layout.astro";

const baasProviders = (await getCollection("baasProvider")).sort((a, b) =>
  a.data.name.localeCompare(b.data.name),
);

const pageTitle =
  "Baas Providers" + " | List of Backend as a Service Providers";
---

<MainLayout title={pageTitle}>
  <div class="flex flex-col gap-y-5">
    <h1 class="text-2xl font-bold">Backend as a Service Providers</h1>
    <p>
      Backend as a Service (BaaS) providers offer a range of backend services
      that allow developers to focus on building their applications without
      having to worry about the underlying infrastructure.
    </p>
    <ul
      class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      {
        baasProviders.map((baasProvider) => (
          <li>
            <BaaSProviderCard baasProvider={baasProvider} />
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
