---
import { getCollection } from "astro:content";

import MainLayout from "~/layouts/MainLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout> 
 {posts.map((post) => (
    <article class="prose overflow-visible">
      <h2>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </h2>
      <p>{post.data.description}</p>
    </article>
  ))}
</MainLayout>
