---
import { Icon } from "astro-icon/components";
import { cn } from "~/lib/cn";

interface Props {
  key: string;
  canOpen?: boolean;
}

const { key, canOpen = true } = Astro.props;
---

<div
  class={cn(
    "overflow-hidden rounded-md border border-gray-200 bg-white shadow-sm transition-all duration-200 ease-in-out",
    {
      "hover:border-purple-400 hover:shadow-md": canOpen,
      "opacity-60": !canOpen,
    },
  )}
>
  <label
    class={cn(
      "flex items-center justify-between p-3 font-medium text-gray-700",
      canOpen && "cursor-pointer hover:bg-gray-50",
    )}
    for={`accordion-toggle/${key}`}
  >
    <span class="flex-grow">
      <slot name="title" />
    </span>
    {
      canOpen && (
        <Icon
          name="mdi:chevron-down"
          class="h-4 w-4 transform transition-transform duration-200"
        />
      )
    }
  </label>
  <input
    type="checkbox"
    id={`accordion-toggle/${key}`}
    class="peer hidden"
    disabled={!canOpen}
  />
  <div
    class="max-h-0 overflow-hidden bg-gray-50 transition-all duration-200 ease-in-out peer-checked:max-h-[500px]"
  >
    <div class="p-3 text-sm text-gray-600">
      <slot />
    </div>
  </div>
</div>

<style>
  input:checked + div {
    @apply border-t border-purple-200;
  }
  input:checked ~ label {
    @apply bg-purple-50 text-purple-700;
  }
  input:checked ~ label > svg {
    @apply rotate-180 text-purple-500;
  }
</style>
