---
import type { CollectionEntry } from "astro:content";
import Card from "~/components/Card.astro";

type Props = {
  baasProvider: CollectionEntry<"baasProvider">;
};

const { baasProvider } = Astro.props;
---

<Card
  url={`/baas-providers/${baasProvider.data.slug}`}
  title={baasProvider.data.name}
  image={baasProvider.data.logo}
>
  <p>{baasProvider.data.description}</p>
</Card>
