---
import { Image } from "astro:assets";

type Props = {
  url: string;
  title: string;
  image: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
};

const { url, title, image } = Astro.props;
---

<a
  href={url}
  class="group block h-full transform rounded-lg border-2 border-purple-300 bg-purple-100 p-4 shadow-md transition duration-300 hover:scale-105 hover:border-purple-500"
>
  <article class="h-full">
    <header class="mb-4 flex items-center gap-x-4">
      <div class="flex h-12 w-12 items-center justify-center overflow-hidden">
        <Image
          src={image}
          alt={title}
          width={36}
          height={36}
          loading="eager"
          class="object-contain"
        />
      </div>
      <h2
        class="text-xl font-bold text-gray-800 transition-colors duration-300 group-hover:text-purple-600"
      >
        {title}
      </h2>
    </header>
    <div
      class="text-gray-600 transition-colors duration-300 group-hover:text-gray-800"
    >
      <slot />
    </div>
  </article>
</a>
