---
import { Icon } from "astro-icon/components";
import startCase from "lodash/startCase";
import { cn } from "~/lib/cn";

type Props = {
  features: Record<string, any>;
};

const { features } = Astro.props as Props;

const featureKeys = Object.keys(features);
---

<ul>
  {
    featureKeys.map((key, i) => (
      <li
        class={cn("flex items-center gap-x-3 px-2 py-4 transition-colors", {
          "bg-green-50 text-green-700": features[key],
          "bg-gray-50 text-gray-500": !features[key],
          "rounded-t": i === 0,
          "rounded-b": i === featureKeys.length - 1,
        })}
      >
        {features[key] ? (
          <Icon
            name="mdi:check-circle"
            class="h-5 w-5 flex-shrink-0 text-green-500"
          />
        ) : (
          <Icon
            name="mdi:close-circle"
            class="h-5 w-5 flex-shrink-0 text-gray-400"
          />
        )}
        <span class="font-medium">
          {typeof features[key] === "boolean"
            ? startCase(key)
            : `${startCase(key)}: ${features[key]}`}
        </span>
      </li>
    ))
  }
</ul>
