---
import { getCollection } from "astro:content";

const today = new Date();

const baasProviders = await getCollection("baasProvider");
---

<footer class="py-12 text-gray-600">
  <div class="container mx-auto px-4">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">About Us</h3>
        <p class="text-sm">
          StackChoice.dev helps developers choose the best backend and
          full-stack solutions for their projects.
        </p>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">Quick Links</h3>
        <ul class="grid grid-cols-2 gap-2 text-sm">
          {
            baasProviders.map((provider) => (
              <li>
                <a
                  href={`/baas-providers/${provider.data.slug}`}
                  class="hover:text-purple-600"
                >
                  {provider.data.name}
                </a>
              </li>
            ))
          }
          <li>
            <a href="/baas-providers/compare" class="hover:text-purple-600">
              Compare Providers
            </a>
          </li>
          <li>
            <a href="/baas-providers" class="hover:text-purple-600">
              BaaS Providers index
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">Newsletter</h3>
        <script
          is:inline
          async
          data-uid="57df1b5fd2"
          src="https://stackchoice.ck.page/57df1b5fd2/index.js"></script>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8 text-center text-sm">
      <p>
        &copy; {today.getFullYear()}
        {Astro.site?.hostname}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
