---
const today = new Date();
---

<footer class="py-12 text-gray-600">
  <div class="container mx-auto px-4">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">About Us</h3>
        <p class="text-sm">
          StackChoice.dev helps developers choose the best backend and
          full-stack solutions for their projects.
        </p>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">Quick Links</h3>
        <ul class="space-y-2 text-sm">
          <li>
            <a href="/baas-providers" class="hover:text-purple-600"
              >Backend Providers</a
            >
          </li>
          <!-- <li>
            <a href="/full-stack-frameworks" class="hover:text-purple-600"
              >Full-Stack Frameworks</a
            >
          </li> -->
          <li>
            <a href="/contact" class="hover:text-purple-600">Contact Us</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold text-gray-900">Newsletter</h3>
        <script
          async
          data-uid="57df1b5fd2"
          src="https://stackchoice.ck.page/57df1b5fd2/index.js"></script>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8 text-center text-sm">
      <p>
        &copy; {today.getFullYear()}
        {Astro.site?.hostname}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
