---
import type { CollectionEntry } from "astro:content";
import Card from "~/components/Card.astro";

type Props = {
  fullStackFramework: CollectionEntry<"fullStackFramework">;
};

const { fullStackFramework } = Astro.props;
---

<Card
  url={`/full-stack-frameworks/${fullStackFramework.data.slug}`}
  title={fullStackFramework.data.name}
  image={fullStackFramework.data.logo}
>
  <p>{fullStackFramework.data.description}</p>
</Card>
