---
import { cn } from "~/lib/cn";
import { Icon } from "astro-icon/components";

const currentPath = Astro.url.pathname;

const navItems = [
  {
    href: "/baas-providers",
    label: "List of Backend Providers",
    icon: "mdi:server-network",
  },
  {
    href: "/baas-providers/compare",
    label: "Compare Providers",
    icon: "mdi:boxing-glove",
  },
];
---

<header
  class="sticky top-0 z-50 bg-purple-50/80 px-4 py-4 backdrop-blur-md md:px-8"
>
  <nav class="flex items-center justify-between px-4">
    <a
      href="/"
      class="flex items-center text-2xl font-extrabold text-purple-600 transition-colors hover:text-purple-700"
    >
      <Icon name="mdi:alpha-s-box" class="mr-2 h-8 w-8" />
      StackChoice<span class="text-gray-600">.dev</span>
    </a>
    <input type="checkbox" id="menu-toggle" class="hidden" />
    <label for="menu-toggle" class="cursor-pointer md:hidden">
      <Icon name="mdi:menu" class="h-6 w-6 text-purple-600" />
    </label>
    <ul
      class="hidden space-y-2 bg-white/80 backdrop-blur-md md:flex md:space-x-1 md:space-y-0 md:bg-transparent md:backdrop-blur-none"
    >
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class={cn(
                "flex items-center rounded-full bg-white px-3 py-2 text-sm font-medium text-gray-600 transition-colors hover:bg-gray-100 hover:text-purple-600",
                {
                  "bg-purple-100 text-purple-700": currentPath === item.href,
                },
              )}
            >
              <Icon name={item.icon} class="mr-2 h-5 w-5" />
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  #menu-toggle:checked + label + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    #menu-toggle:checked + label + ul {
      display: flex;
      flex-direction: row;
      position: static;
      box-shadow: none;
      padding: 0;
    }
  }
</style>
